/* - positionnement du menu - */
/*.ms{display: block;margin: 0 auto 0 auto;}*/
.clear{clear:both}
/* - mise en onglet - */
/* -- position normal -- */
div.ms{position:relative;height:18px;margin:0 auto;padding:0;}
/*div.ms{border:2px solid #FFF;}*/
.ms ul {float:left;margin:0; padding:0; list-style:none;}
.ms ul {margin-top:-5px} /* chevauchement vers le haut des onglets */
.ms li{
	float:left;
	min-width:10px;
	margin-left:5px;
	padding:0;
/*	cursor:pointer;*/
	background-color:#0CAD0C;
	/* - bordure des onglets - */
	border:1px solid transparent; /* laisser pour ne pas avoir de decalage au hover */
	border-bottom:0;border-radius:5px;
	border-bottom-right-radius:0;-moz-border-bottom-right-radius:0;-webkit-bottom-right-border-radius:0;	
	border-bottom-left-radius:0;-moz-border-bottom-left-radius:0;-webkit-border-bottom-left-radius:0;
	padding:0 2px 0.2em 2px;
}
/*.ms li span{float:left; padding:2px 3px 0 3px;}*/

/* -- position normal:hover -- */
.ms li:hover,.ms li:focus{text-decoration:none;border:1px solid red;border-bottom:0;}
.ms li:hover span,.ms li:focus span{}

/* -- position actif -- */
.ms li.actif, .ms li.actif span.actif{background-color:#33F;}

/* -- position actif:hover -- */
.ms li.actif:hover{}
.ms li.actif span.actif:hover{
}

.ms a{cursor:pointer;text-decoration:none;color:black;}

/* --  class supplementaires de surcharge -- */

/* --- applique une bordure (sauf celle du bas a <a>) --- */
.dossier1
	{
	border:1px solid #00F;border-bottom:0;border-radius:5px;
	border-bottom-right-radius:0;-moz-border-bottom-right-radius:0;-webkit-bottom-right-border-radius:0;	
	border-bottom-left-radius:0;-moz-border-bottom-left-radius:0;-webkit-border-bottom-left-radius:0;
	padding:0 2px 0 2px;
	}
.dossierIconeLeft{
	padding-left:15px;background:transparent url('./img/dossier.png') left no-repeat;
}
.dossierIconeRight{
	padding-right:15px;background:transparent url('./img/dossier.png') right no-repeat;
}

