@charset "utf-8";

/*! - ./styles/knacss/knacss.css - */

/*! - ./styles/html4.css - */
/*
feuille de style:html4.css
date de modification: 2014.06.04
*/
/*html{font-size:100%;background-color:transparent;}*/
body{
	font-family:"Verdana", sans-serif;
	background-color:#4C4;
	margin:0;padding:0;text-align:left;
	color:Black;
}

/* ----------------  Mise en page  -----------------------	*/
.pageLarg{min-width:500px;max-width:90%;}
#page{
	display:block;
	position:relative;
	margin:0;
	background:#2E2EE2 url('') no-repeat right top;
	padding:0 10px;
	border:0;	
	}

#header{
	position:relative;
	overflow:visible;
	background-color:#000;
	margin:0 auto;
	color:#7BE;
	text-align:center;
}

#header.h1{
	background-color:#079907;
	color:#7BE;
	font-weight:bold;
}

/*header:hover{height:20px;}*/
#header.h1 a{color:#073;}
/* - headerGauche, headerDroit sont des divs inclus dans header- */
#headerGauche{position:absolute;top:0;left:0;text-align:left;}
#headerDroit {position:absolute;top:0;right:0;text-align:right;}

#pageContent{
	clear:both;
	min-height:5em;
	overflow:auto;
	margin-bottom:1em;
}


#footer{
	position:relative;
	overflow:visible;
        background-color:#000;
        margin:0 auto 0 auto;
	font-size:0.8em;
        color:#7BE;
        text-align:center;
}
#footer h1{
        color:#7BE;
        font-weight:bold;
}

#footer a{color:White;}

#footerGauche{position:absolute;top:0;left:0;text-align:left;}
#footerDroit {position:absolute;top:0;right:0;text-align:right;}

#menuSystemeStatique h2{margin-top:1em;padding-left:2em;background-color:#FFF;}

#menuSystemeStatique{
	position:relative;
/*	top:middle;left:middle;*/
	/*width:20em;max-width:20em;min-width:20em;*/
	border:1px solid Blue;
	margin:0;
	background:#111 url('') no-repeat right top;
	padding:1em;
	color:#F7B000;
}
#menuSystemeStatique .titre{
	background:#26D3CA url('') no-repeat right top;
	text-align:center;
}

/* Titre */
h1,h2,h3,h4,h5,h6{margin:0; padding:0; font-weight:normal; font-size:1em; font-family:Georgia, Times, serif; }

h1{font-size:1.60em; color:#000; text-align:center; font-weight:bold;}
h2{margin-top:1.75em;font-size:1.40em; font-weight:bold;color:#003;}
h3{margin-top:1.5em;font-size:1.20em; font-weight:normal; }
h4{margin-top:1em;font-size:1.20em; font-weight:normal; }
h5{margin-top:1em;font-size:1em; font-weight:normal; }
h6{margin-top:1em;font-size:1em; font-weight:normal; }


/* Typo */
/*
strong{font-weight:bold; }
em{font-style:italic; }
abbr, acronym{border-bottom:1px dotted; cursor:help; }
small{font-size:0.90em; color:#666; }
dfn{font-weight:bold; color:#666; }
del{text-decoration:line-through; }
ins{color:red !important; text-decoration:none; }
sup, sub{font-size:.8em; font-variant:normal; }
div{position:relative;margin:0;padding:0;}
*/
/* Tableaux */
table .table{
	table-layout:auto;
	width:99%;max-width:99%;
	margin:auto 3px 0px;
	border:none Black;
	border-right:4px;
}

.tableAuto td{
	width:auto;
}


table caption, caption{
	text-align:center;
	white-space:nowrap;
	font-weight:bold;
}
thead,th{
	background-color:blue;
	border-color:Lime;
	border-style:solid;
	font-weight:bold;
	text-align:center;
}

tr{
	background-color:inherit;
}

tr:hover{
	background-color:#336;
}
/*
td{
	width:100%;
	text-align:inherit;
}
*/
/*  input */
input, textarea{
	background-color:#ß11A0FF;
	color:#000;
	text-indent:2px;
	border-bottom:inset Navy;
	border:none #00CED1;
	font-family:sans-serif;
	font-size:0.9em;
}
select{
	font-family:verdaßna;
	font-weight:bold; 
	font-size:0.9em; 
	border:1px solid #000000;
}
option{
	background-color:#11A0FF;
}
option.selected{
	background-color:#ACF;
}

textarea{
	width:99%;max-width:99%;
}
/* ----------------  Text  -----------------------	*/
a{color:#F00;text-decoration:none;}
/*a:focus,a:hover,a:active{color:#073;text-decoration:underline;}*/
a:focus,a:hover{color:#073;}
/* Logos, documents et images */
/*img{margin:0;padding:0;border:0;}*/
.switchHead{
	text-decoration:underline;
	cursor:help;
}
.switchDatas{
	display:none;
	border:1px solid yellow;
	border-radius:10px;
	width:95%;
	margin: 0 auto;
	padding: 0 1em;
	text-align:left;
	background-color:#910F0F;
	color:#52CECE;
}
.switchDatas > h1{
	text-align:center;
	font-weight:bold;}

/*! - ./styles/intersites.css - */
/* ---  positionnement --- */
.floatleft{float: left;}
.floatright{float: right;}
.clear{clear:both}		
.cacher{visibility:hidden}
.effacer{display:none}

/* texte */
.justifier_center{text-align:center}
.pointeur{cursor:pointer;}
.centrer{margin-left:auto;margin-right:auto;}
.centrerText{text-align:center;}
.p_sans_marge{margin:0;padding:0;}

/* -- Design CSS3  -- */
.coin_arrondi_10pix{-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}

.coin_arrondi_gauche_10pix{
	border-top-left-radius:10px;border-bottom-left-radius:10px;
	-moz-border-top-left-radius:10px;-moz-border-bottom-left-radius:10px;
	-webkit-top-left-border-radius:10px;border-bottom-left-radius:10px;
	}

/* -- box -- */
.box_texte-extrait
	{
	width:80%;max-height:10em;
	border:1px inset blue;
	margin:1em;
	padding: 0.5em;
	overflow:auto;
	}

.bold{font-weight:bold;}

/*! - ./lib/legral/php/gestLib/gestLib.css - */
/*
 * gestLib.css
 * deniere version (remplace gestLib-0.1.css)
 */

.gestLib{
	font-size:0.8em;
}

/* console */
.gestLibNom
	{
	font-size:1em;
	border: 1px solid Red;
	background-color:Black;
	color:Magenta;
/*	margin:0;*/
	}

.gestLibDataBox
	{
	max-height:10em;
	overflow:auto;
	font-size:.8em;
	border: 1px solid Red;
	margin-top:-2px;
	background-color:Black;
	color:#AAA;
/*	margin:0;*/
	}




/* nom de la variable */
.gestLibVarNom
	{
/*	font-size:0.8em;*/
	border-bottom: 1px solid Red;
	background-color:Black;
	color:#F9D47C;
/*	margin:0;*/
	}
.gestLibVar
	{
/*	font-size:0.8em;*/
	border-bottom: 1px solid Red;
	background-color:Black;
	color:#F9D47C;
/*	margin:0;*/
	}
/* valeur de la variable */
.gestLibVal
	{
/*	font-size:0.8em;*/
	border-bottom: 1px solid Red;
	/*background-color:#FFF;*/
	/*color:Yellow;*/
	font-weight:bold;

	}
.gestLibValSpecial{
	font-style:italic;
}
.gestLibInfo
        {
        color:Yellow;
	font-style:italic;
        }


/* inspect */
/* utiliser par l'utilisateur pour definir une source */
.gestLib_inspectOrigine{
	margin: 0 2em;
	border:2px solid red;
	max-height:20em;
	overflow:auto;
}
/* automatique (chaque iteration)*/
.gestLib_inspect{
}

ul.gestLib{
	border-left:3px solid black;
	margin-top:0;
	}
ol.gestLibObject{
        border-left:3px solid yellow;
        margin-top:0;
        }
ul.gestLibArray{
        border-left:3px solid blue;
        margin-top:0;
        }


ul.gestLib li {
/*	margin-left:0;*/
	background-color:#0FB;
        }

/* tableau de synthese */
table.gestLib{
	font-size:.8em;
}
table.gestLib caption{
	text-align:center;
	font-weight:bold;
}

table.gestLib th{
	text-align:center;
	background-color:blue;
	color:black;
}


#devCtrl{
	cursor:pointer;
	background-color:magenta;
}

#devContent{
	display:none;	/* cacher par defaut */
	border: 1px solid magenta;
	background-color:transparent;
}


/*! - ./lib/legral/php/gestMenus/menuStylisee.css - */

/*! - ./lib/legral/php/gestMenus/gestMenus.css - */

.ariane{margin:0;margin:0;background-color:#253507;padding:0.1em;color:yellow;}
.ariane a {color:white;}
.ariane a:hover,#arianeFoot a:hover{text-decoration:underline;}


/*! - ./styles/notes/notesRelatif.css - */

/*! - ./styles/tutoriels/tutorielsRelatif.css - */
